[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
python-decouple = "*"
django-jazzmin = "*"
django-extensions = "*"
psycopg2-binary = "*"
backtrader = "*"
pandas = "*"
backtrader-plotting = "*"
numpy = "==1.23.5"
openai = "==0.28"
requests = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.11"
